* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.apg1 {
    text-decoration: none;
    color: white;
    background-color: #005940;  
    font-size: 2em;
    font-family: "ouma-latin-variable",sans-serif;
    font-variation-settings: 'wght' 700;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 1s; 
}

.apg1:hover  {
background-color: white;
color: #005940;
}

.apg2 {
  text-decoration: none;
  color: white;
  background-color: #83232D;  
  font-size: 2em;
  font-family: "ouma-latin-variable",sans-serif;
  font-variation-settings: 'wght' 700;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 1s;
}

.apg2:hover  {
  background-color: white;
  color: #83232D;
  }

.apg3 {
  text-decoration: none;
  color: white;
  background-color: #034159;  
  font-size: 2em;
  font-family: "ouma-latin-variable",sans-serif;
  font-variation-settings: 'wght' 700;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  transition-duration: 1s;
  
}

.apg3:hover  {
  background-color: white;
  color: #034159;
  }

header {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 160px;
    left: 200px;
    z-index: 100;
}

.heading1 {
    font-size: 4em;
    font-family: "ouma-latin-variable",sans-serif;
    font-variation-settings: 'wght' 700;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #005940;
    height: 200px;
    width: 100%;
    z-index: 99;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
 
  }

  .heading2 {
    font-size: 4em;
    font-family: "ouma-latin-variable",sans-serif;
    font-variation-settings: 'wght' 700;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #83232D;
    height: 200px;
    width: 100%;
    z-index: 99;
    position: fixed;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
 
  }

  .heading3 {
    font-size: 4em;
    font-family: "ouma-latin-variable",sans-serif;
    font-variation-settings: 'wght' 700;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #034159;
    height: 200px;
    width: 100%;
    z-index: 99;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
 
  }

.eventdetailshere  {
  text-decoration: none;
  color: #005940;
  font-weight: 5000;
  font-size: 2em;
  margin-left: 20px;
}

.eventdetailshere:hover {
  background-color: #005940;
  color: white;
}

.containerpg1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
 
}

.containerpg1 p {
  font-size: 1.2em;
}

.pg2pics img {
  margin-left: 5%;
}

.containerpg3 {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: nowrap;

 

}

.card {
  background-color: #034159;
  color: white;
  width: 480px;
  height: 800px;
  margin: 20px;
  border-radius: 15px;
  padding-top: 70px;
  font-size: 1.5em;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;

}

.card-image {

  height: 400px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;

}

.badgega {
  background-image: url(../page3/pictures/gapassv3.png);
}

.badgevip{
  background-image: url(../page3/pictures/vippassv4.png);
}

.badgemedia {
  background-image: url(../page3/pictures/mediapassv6.png);
}

.shirt {
  background-image: url(../page3/pictures/mmhshirtv3.png);
}

.hat {
  background-image: url(../page3/pictures/mmhhatv2.png);
}

.about {
  font-size: 1.5em;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 15%;
  width: 450px;
} 

footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  color: white; 
  padding: 20px 0; 
  text-align: center; 
  font-size: 1.5em;
  font-family: "ouma-latin-variable",sans-serif;
  font-variation-settings: 'wght' 700;

  display: flex; 
  flex-direction: row;
  justify-content: space-around; 
  align-items: center;
}

.footer1 {
  position: fixed;
  background-color: #005940;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}




.footer2 {
  position: fixed;
  background-color: #83232D;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.footer3 {
  position: fixed;
  background-color: #034159;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}


.contactus, .contactmov, .movlogo {
  padding: 10px 20px; 
  font-size: 1.5em; 
  font-weight: bold; 
  text-align: center; 
}


.contactus p, .contactmov p, .contactmov a, .contactus a {
  margin: 0; 
  text-decoration: none;
  color: white;
  transition-duration: 1s;
 
}

.movlogo {
  width: 100px;
  height: 100px;

}

.footer1 .contactus a:hover {
  background-color: white;
  color: #005940;
}

.footer1 .contactmov a:hover {
  background-color: white;
  color: #005940;
}



